mat-form-field {
  color: darkgreen;
  width: 100%;
  font-family: "Silkscreen Expanded", "Comic Sans MS";
}

button {
  margin-top: 10px;
  color: green;
  font-family: "Silkscreen Expanded", "Comic Sans MS";
}

.create {
  text-align: center;
  margin: auto;
  padding: auto;
}
