<div>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field color="accent">
      <input
        matInput
        type="text"
        maxlength="5"
        name="title"
        ngModel
        required
        placeholder="Enter Username"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a username!</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit">Start Game
      </button>
    </div>
  </form>
</div>
