mat-form-field {
  color: darkgreen;
  width: 100%;
  font-family: "Silkscreen Expanded", "Comic Sans MS";
}

button {
  color: green;
  font-family: "Silkscreen Expanded", "Comic Sans MS";
  margin-left: 30%;
  margin-top: 7px;
}
