/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Silkscreen Expanded", "Helvetica Neue", sans-serif;
}

html {
  background-color: lawngreen;
}

@font-face {
  font-family: "Silkscreen Expanded";
  src: url("slkscre.eot?") format("eot"),
  url("slkscre.woff") format("woff"),
  url("slkscre.ttf") format("truetype"),
  url("slkscre.svg#Silkscreen-Expanded") format("svg");
  font-weight: normal;
  font-style: normal;
}
