/* You can add global styles to this file, and also import other style files */
body {
  margin: 0; font-family: "Silkscreen Expanded", "Helvetica Neue", sans-serif;
}

html {
  position: absolute;
  margin-top: 100px;
  margin-left: 30%;
  background-color: lawngreen;
}

/* LEFT align */
.mat-list .mat-list-item.left{
  justify-content: flex-start;
}

/* RIGHT align */
.mat-list .mat-list-item.right{
  justify-content: flex-end;
}
