:host{
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

h3 {
  text-align: center;
  color: darkgreen;
}

mat-list, mat-list-item {
  font-family: "Silkscreen Expanded", "Comic Sans MS";
}
